<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@2.0.2" integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Go HTMX</title>
</head>
<body>
    <h1>Go HTMX</h1>
    <ul id="todo-list">
        {{range .todos}} {{block "todo-list-element" .}}
        <li>
            <input type="checkbox" hx-get="/toggle/{{.Id}}" hx-target="closest li" {{if .Done}}checked{{end}}>
            <span>{{.Title}}</span>
        </li>
        {{end}}
        {{end}}  <!-- Add this line to close the range block -->
    </ul>

    <form hx-post="/add-todo" hx-target="#todo-list" hx-swap="beforeend">
        <input 
        class="border border-gray-300 rounded-md p-2"
        type="text" name="title" placeholder="Add a new todo">
        <button class="bg-blue-500 text-white px-4 py-2 rounded-md" type="submit">Add</button>
    </form>
</body>
</html>